spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/fastdoors
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: false
    database: postgresql
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    properties:
      hibernate:
        transaction:
          jta:
            platform: org.hibernate.engine.transaction.jta.platform.internal.NoJtaPlatform

  security:
    remember-me:
      key: ${REMEMBER_ME_KEY}
      PERSONAL_DATA_KEY: ${PERSONAL_DATA_KEY}

  boot:
    admin:
      client:
        url: http://localhost:9090/admin
        instance:
          service-url: http://localhost:8080
        username: ${BOOT_ADMIN_USERNAME}
        password: ${BOOT_ADMIN_PASSWORD}

logging:
  file:
    name: logs/app.log
  level:
    root: INFO
    org.springframework.security: WARN
