spring:
  datasource:
    url: jdbc:h2:mem:testdb
    username: sa
    password: password
    driver-class-name: org.h2.Driver

  h2:
    console:
      enabled: true
      path: /h2-console

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    database-platform: org.hibernate.dialect.H2Dialect

  security:
    remember-me:
      key: dev-remember-me-key
      PERSONAL_DATA_KEY: "12345678901234567890123456789012"

  boot:
    admin:
      client:
        enabled: false


  jmx:
    enabled: false

logging:
  level:
    org.springframework.security: DEBUG
    org.springframework.security.web: DEBUG
    org.springframework.security.authentication: DEBUG
    org.springframework.security.web.authentication.rememberme: DEBUG
    org.springframework.security.web.authentication: DEBUG




management:
  endpoints:
    jmx:
      exposure:
        exclude: "*"
