spring:
  profiles:
    active: prod

management:
  endpoints:
    web:
      exposure:
        include: "*"

doc:
  swagger-ui:
    enabled: true
    path: /swagger-ui.html
  api-docs:
    enabled: true
    path: /v3/api-docs

springdoc:
  swagger-ui:
    path: /swagger-ui.html
  api-docs:
    path: /v3/api-docs